	body,
	html{
			background-image: url("paper.png");
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			text-decoration: none;
			font-family: Balsamiq Sans;
			
		}	

	img {
		max-width: 100%;
	}
	
	.container {
		align-items: center;
		justify-content: center;
		display: flex;
		line-height: 1.2; 
		background-size: cover;
	}
	
	h1 {
		font-size: 23px;
		filter: drop-shadow(0 0 0.75rem yellow);
	}
	
	p {
		font-size: 20px;
	}	
	
	.spin {
		width: auto;
		height: auto;
		transform: rotateY(360deg);
		animation: spinnySpinSpin 2.8s linear infinite;	
		-moz-transform: rotateY(360deg);
		-moz-animation: spinnySpinSpin 2.8s linear infinite;
		-webkit-transform: rotateY(360deg);
		-webkit-animation: spinnySpinSpin 2.8s linear infinite;			
	}

	@keyframes spinnySpinSpin {
		from {transform: rotateY(360deg);}
		to {transform: rotateY(0deg);}
	}
	
	@-moz-keyframes spinnySpinSpin {
		from {transform: rotateY(360deg);}
		to {transform: rotateY(0deg);}
	}

	@-webkit-keyframes spinnySpinSpin {
		from {transform: rotateY(360deg);}
		to {transform: rotateY(0deg);}
	}		